batch_qc/__pycache__/__init__.cpython-312.pyc
batch_qc/__pycache__/metroloJ_access.cpython-312.pyc
batch_qc/__pycache__/omero_images.cpython-312.pyc
batch_qc/__pycache__/z_accuracy.cpython-312.pyc
batch_qc/.omero_config
